.iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 15%;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.2s ease-in-out;
}

.iconBox:hover {
    filter: brightness(80%);
}

.iconBox svg {
    width: 2rem;
    height: 2rem;
}
