.cycle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.cycleDots {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.cycleDot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: var(--primary);
}

.workTime {
    background-color: #F97316;
}

.shortBreakTime {
    background-color: #10a5b9;
}

.longBreakTime {
    background-color: #8B5CF6;
}